/* General */
body{ background-color: rgb(246, 252, 226);;
 margin: 2%;}

/* Headers */

.titulo{ font-family: Arial, Helvetica, sans-serif; font-weight: bolder; 
    font-size: 600%; color: #8C2370 ; text-align: center;}

.subtitulo{ font-family: Arial, Helvetica, sans-serif; font-weight: bold; 
    font-size: 300%; color: #8C2370 ; text-align: center;} 

.subtitulo1{ font-family: 'Courier New', Courier, monospace; font-weight: bold; 
    font-size: 200%; color: #8C2370 ; text-align: center;}     


p { font-family: 'Times New Roman', serif; 
    font-size: 120%; color: #373CA6 ; text-align: justify;} 

.datos { font-family: 'Times New Roman', serif; 
    font-size: 120%; color: #373CA6 ;}     

.fotos{width: 400px; height: 200px; padding: 10px;}    

.EstiloForm{ border: 4px inset  #8C2370; margin: 5%;}

.nimisubtitulo{ font-family: 'Courier New', Courier, monospace; font-weight: bold; 
             font-size: 150%; text-align: center; color: #8C2370; margin-top: 2%;}
        
.card-text{font-family: 'Courier New', Courier, monospace; text-align: center; font-weight: bold;}             

.btn {  
    font-family: 'Courier New', Courier, monospace; font-weight: bold;
    font-size: 18px; /* Cambia el tamaño de fuente */  
    padding: 15px 30px; /* Cambia el padding */  
    border-radius: 10px; /* Redondea los bordes */  
}  

#botoncolor {  
    background-color: #8C2370; /* Cambia el color de fondo */  
    color: white; /* Cambia el color del texto */  
    transition: background-color 0.3s; /* Añade una transición */
    border: 0px;  
}  

.btn-primary:hover {  
    background-color: #0056b3; /* Color de fondo al hacer hover */  
    color: #fff; /* Color del texto al hacer hover */  
}  

.mb1{margin: 5%;}

label{font-family: 'Courier New', Courier, monospace; font-size: 120%; font-weight: bold; color: #373CA6;}

/* Footer */
footer a.btn {
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    header, footer {
        text-align: center;
    }
}
